.header {
    padding: 20px 0 10px 0;

    .title {
        font-size: 4rem;
        margin: 0.5rem auto;
        letter-spacing: .025rem;
        font-weight: 600;
        color: orange;
    }
    .desc {
        color: #555;
        font-weight: 600;
        font-size: 1.6rem;
    }
}