.search__group {
    background-color: #fff;
    padding: 40px;
    &-input {
        padding: 20px;
        background-color: #faf6f6;
        border-radius: 3rem;
        width: 40%;
        outline: none;
        border: .2rem solid #f8e7e7;
        min-width: 250px;
        font-size: 28px;
        font-weight: lighter;
        color: orange
    }

    &-chart {
        display: block;
        color: orange;
        margin-top: 40px;
        cursor: pointer;
        :hover {
            opacity: 0.8;
        }

        .fas {
            font-size: 56px;
        }
    }
}