.footer {
    border-top-color: #fff;
    border-top-style: solid;
    border-top-width: 20px;
    padding: 2rem 0 6rem 0;

    h1 {
        font-weight: 300;
        word-spacing: 3px;
        margin: 10px 0;
        font-size: 40px;
    }

    p {
        margin-top: 20px;
        font-weight: 300;
        color: #555;
        font-size: 18px;
    }

    a {
        text-decoration: none;
    }
}